In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Plastic based Textiles in clothing industry updated.csv")
df

,Company,Product_Type,Eco friendly,Country,Production_Year,Greenhouse_Gas_Emissions,Pollutants_Emitted,Water_Consumption,Energy_Consumption,Waste_Generation,Sales_Revenue
0,Zara,Polyester,Least,Indonesia,2020,4501,20,6111,1115,599,517729
1,Zara,Nylon,Least,Bangladesh,2019,4576,23,6779,1267,578,525387
2,Zara,Recycled_Poly,Moderate,France,2021,3335,17,4934,1104,357,509266
3,Zara,Cotton,Least,India,2018,4674,19,6353,1209,552,526323
4,Zara,Synthetic_Blend,Least,India,2022,4746,20,6588,1248,628,530258
...,...,...,...,...,...,...,...,...,...,...,...
6951,Adidas,Tencel,Most,Denmark,2018,1889,8,3342,746,183,470371
6952,Urban Outfitters,Microfiber,Moderate,Spain,2019,3126,16,5266,1046,439,531785
6953,Urban Outfitters,Organic_Cotton,Most,Norway,2019,2393,11,4036,804,258,476564
6954,Adidas,Microfiber,Moderate,Mexico,2020,2237,12,4709,1089,323,524687
6955,Urban Outfitters,Nylon,Least,China,2020,3694,19,5538,1064,514,488692

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6956 entries, 0 to 6955
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Company                   6956 non-null   object
 1   Product_Type              6956 non-null   object
 2   Eco friendly              6956 non-null   object
 3   Country                   6956 non-null   object
 4   Production_Year           6956 non-null   int64
 5   Greenhouse_Gas_Emissions  6956 non-null   int64
 6   Pollutants_Emitted        6956 non-null   int64
 7   Water_Consumption         6956 non-null   int64
 8   Energy_Consumption        6956 non-null   int64
 9   Waste_Generation          6956 non-null   int64
 10  Sales_Revenue             6956 non-null   int64
dtypes: int64(7), object(4)
memory usage: 597.9+ KB